body{
    margin: 0px;
    font-family: 'Eczar', serif;
    background-image: url('matrix.jpeg');
    background-position: center;
    background-size: cover;
}
h1,h2{
    color: white;
    text-align: center;
}
h1{
    padding-top: 8rem;
}
p{
    color: white;
}
section{
    width: 70%;
    margin: auto;
}
p{
    background-color: #262424CC;
    padding: 1rem;
    text-align: justify;
    word-spacing: 0.3rem;
}
header{
    display: flex;
    background-color: #000000DD;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;

}
header img{
    width: 7%;
    margin: 0.5rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    font-size: 1.3em;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-family: inherit;
}
nav{
    width: 50%;
}
nav li:hover{
    text-decoration: underline;
}
nav li{
    border: 3px solid green;
    padding: 0.4rem;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 21%, rgba(51,133,19,1) 70%);
}
article img{
    float: right;
    width: 13%;
    margin: 1rem;
}
footer{
    background-color: black;
    color: white;
    margin-bottom: 0;
}
footer ul{
    margin-bottom: 0;
}